apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/arata-nvm/utou-infra
    targetRevision: main
    path: kubernetes/argocd
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
