apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: cert-manager
    releaseName: cert-manager
    namespace: cert-manager
    version: 1.19.1
    repo: https://charts.jetstack.io
    valuesFile: values.yaml

resources:
  - clusterissuer.yaml
  - namespace.yaml
