apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: argocd
  namespace: argocd
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`headlamp.arata.internal`)
      kind: Rule
      services:
        - name: argocd
          port: 80
