apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-of-apps
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/arata-nvm/utou-infra
    targetRevision: main
    path: kubernetes/app-of-apps/apps
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  syncPolicy:
    automated: {}
    syncOptions:
      - Prune=false
      - PruneLast=true
      - CreateNamespace=true
      - Replace=false
