apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: traefik
    releaseName: traefik
    namespace: traefik
    version: 37.4.0
    repo: https://traefik.github.io/charts
    includeCRDs: true
    valuesFile: values.yaml

resources:
  - namespace.yaml
