apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: metrics-server
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/arata-nvm/utou-infra
    targetRevision: main
    path: kubernetes/metrics-server
  destination:
    namespace: metrics-server
    server: https://kubernetes.default.svc
  syncPolicy:
    automated: {}
