apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/arata-nvm/utou-infra
    targetRevision: main
    path: kubernetes/traefik
  destination:
    namespace: traefik
    server: https://kubernetes.default.svc
  syncPolicy:
    automated: {}
